.sub-icon__default:after,
.sub-icon__default:before {
  background-position: 0 -384px;
}
.sub-icon__i12:after,
.sub-icon__i77:after,
.sub-icon__i78:after,
.sub-icon__i79:after,
.sub-icon__i80:after,
.sub-icon__i81:after,
.sub-icon__i82:after,
.sub-icon__i83:after,
.sub-icon__i84:after,
.sub-icon__i85:after,
.sub-icon__i86:after,
.sub-icon__i87:after,
.sub-icon__i88:after,
.sub-icon__i89:after,
.sub-icon__i90:after,
.sub-icon__i91:after,
.sub-icon__i92:after,
.sub-icon__i93:after,
.sub-icon__i94:after,
.sub-icon__i95:after,
.sub-icon__i96:after,
.sub-icon__i97:after,
.sub-icon__i98:after,
.sub-icon__i101:after,
.sub-icon__i102:after,
.sub-icon__i103:after,
.sub-icon__i107:after,
.sub-icon__i108:after,
.sub-icon__i109:after,
.sub-icon__i12:before,
.sub-icon__i77:before,
.sub-icon__i78:before,
.sub-icon__i79:before,
.sub-icon__i80:before,
.sub-icon__i81:before,
.sub-icon__i82:before,
.sub-icon__i83:before,
.sub-icon__i84:before,
.sub-icon__i85:before,
.sub-icon__i86:before,
.sub-icon__i87:before,
.sub-icon__i88:before,
.sub-icon__i89:before,
.sub-icon__i90:before,
.sub-icon__i91:before,
.sub-icon__i92:before,
.sub-icon__i93:before,
.sub-icon__i94:before,
.sub-icon__i95:before,
.sub-icon__i96:before,
.sub-icon__i97:before,
.sub-icon__i98:before,
.sub-icon__i101:before,
.sub-icon__i102:before,
.sub-icon__i103:before,
.sub-icon__i107:before,
.sub-icon__i108:before,
.sub-icon__i109:before {
  background-position: 0 0px;
}
.sub-icon__i139:after,
.sub-icon__i139:before {
  background-position: 0 -32px;
}
.sub-icon__i33:after,
.sub-icon__i34:after,
.sub-icon__i35:after,
.sub-icon__i36:after,
.sub-icon__i37:after,
.sub-icon__i38:after,
.sub-icon__i57:after,
.sub-icon__i58:after,
.sub-icon__i33:before,
.sub-icon__i34:before,
.sub-icon__i35:before,
.sub-icon__i36:before,
.sub-icon__i37:before,
.sub-icon__i38:before,
.sub-icon__i57:before,
.sub-icon__i58:before {
  background-position: 0 -64px;
}
.sub-icon__i28
.sub-icon__i28:before {
  background-position: 0 -96px;
}
.sub-icon__i32:after,
.sub-icon__i32:before {
  background-position: 0 -128px;
}
.sub-icon__i147:after,
.sub-icon__i49:after,
.sub-icon__i147:before,
.sub-icon__i49:before {
  background-position: 0 -160px;
}
.sub-icon__i14:after,
.sub-icon__i65:after,
.sub-icon__i8:after,
.sub-icon__i14:before,
.sub-icon__i65:before,
.sub-icon__i8:before {
  background-position: 0 -224px;
}
.sub-icon__i24:after,
.sub-icon__i25:after,
.sub-icon__i2:after,
.sub-icon__i75:after,
.sub-icon__i59:after,
.sub-icon__i60:after,
.sub-icon__i61:after,
.sub-icon__i24:before,
.sub-icon__i25:before,
.sub-icon__i2:before,
.sub-icon__i75:before,
.sub-icon__i59:before,
.sub-icon__i60:before,
.sub-icon__i61:before {
  background-position: 0 -256px;
}
.sub-icon__i26:after,
.sub-icon__i26:before {
  background-position: 0 -288px;
}
.sub-icon__i31:after,
.sub-icon__i31:before {
  background-position: 0 -320px;
}
.sub-icon__i29:after,
.sub-icon__i29:before {
  background-position: 0 -352px;
}
.sub-icon__i9:after,
.sub-icon__i10:after,
.sub-icon__i13:after,
.sub-icon__i15:after,
.sub-icon__i16:after,
.sub-icon__i18:after,
.sub-icon__i19:after,
.sub-icon__i20:after,
.sub-icon__i21:after,
.sub-icon__i22:after,
.sub-icon__i23:after,
.sub-icon__i43:after,
.sub-icon__i44:after,
.sub-icon__i46:after,
.sub-icon__i47:after,
.sub-icon__i48:after,
.sub-icon__i56:after,
.sub-icon__i63:after,
.sub-icon__i64:after,
.sub-icon__i69:after,
.sub-icon__i73:after,
.sub-icon__i74:after,
.sub-icon__i100:after,
.sub-icon__i104:after,
.sub-icon__i105:after,
.sub-icon__i106:after,
.sub-icon__i110:after,
.sub-icon__i111:after,
.sub-icon__i112:after,
.sub-icon__i113:after,
.sub-icon__i114:after,
.sub-icon__i115:after,
.sub-icon__i116:after,
.sub-icon__i117:after,
.sub-icon__i118:after,
.sub-icon__i119:after,
.sub-icon__i120:after,
.sub-icon__i121:after,
.sub-icon__i122:after,
.sub-icon__i124:after,
.sub-icon__i125:after,
.sub-icon__i126:after,
.sub-icon__i127:after,
.sub-icon__i128:after,
.sub-icon__i129:after,
.sub-icon__i130:after,
.sub-icon__i131:after,
.sub-icon__i132:after,
.sub-icon__i133:after,
.sub-icon__i134:after,
.sub-icon__i135:after,
.sub-icon__i136:after,
.sub-icon__i137:after,
.sub-icon__i138:after,
.sub-icon__i9:before,
.sub-icon__i10:before,
.sub-icon__i13:before,
.sub-icon__i15:before,
.sub-icon__i16:before,
.sub-icon__i18:before,
.sub-icon__i19:before,
.sub-icon__i20:before,
.sub-icon__i21:before,
.sub-icon__i22:before,
.sub-icon__i23:before,
.sub-icon__i43:before,
.sub-icon__i44:before,
.sub-icon__i46:before,
.sub-icon__i47:before,
.sub-icon__i48:before,
.sub-icon__i56:before,
.sub-icon__i63:before,
.sub-icon__i64:before,
.sub-icon__i69:before,
.sub-icon__i73:before,
.sub-icon__i74:before,
.sub-icon__i100:before,
.sub-icon__i104:before,
.sub-icon__i105:before,
.sub-icon__i106:before,
.sub-icon__i110:before,
.sub-icon__i111:before,
.sub-icon__i112:before,
.sub-icon__i113:before,
.sub-icon__i114:before,
.sub-icon__i115:before,
.sub-icon__i116:before,
.sub-icon__i117:before,
.sub-icon__i118:before,
.sub-icon__i119:before,
.sub-icon__i120:before,
.sub-icon__i121:before,
.sub-icon__i122:before,
.sub-icon__i124:before,
.sub-icon__i125:before,
.sub-icon__i126:before,
.sub-icon__i127:before,
.sub-icon__i128:before,
.sub-icon__i129:before,
.sub-icon__i130:before,
.sub-icon__i131:before,
.sub-icon__i132:before,
.sub-icon__i133:before,
.sub-icon__i134:before,
.sub-icon__i135:before,
.sub-icon__i136:before,
.sub-icon__i137:before,
.sub-icon__i138:before {
  background-position: 0 -384px;
}
.sub-icon__i40:after,
.sub-icon__i41:after,
.sub-icon__i40:before,
.sub-icon__i41:before {
  background-position: 0 -448px;
}
.sub-icon__i3,
.sub-icon__i4,
.sub-icon__i5,
.sub-icon__i6,
.sub-icon__i7,
.sub-icon__i11,
.sub-icon__i45,
.sub-icon__i50,
.sub-icon__i51,
.sub-icon__i52,
.sub-icon__i53,
.sub-icon__i54,
.sub-icon__i55,
.sub-icon__i62,
.sub-icon__i66,
.sub-icon__i67,
.sub-icon__i68,
.sub-icon__i70,
.sub-icon__i71,
.sub-icon__i72,
.sub-icon__i76 {
  /*.sub-icon__i43,
    .sub-icon__i44,
    .sub-icon__i46,
    .sub-icon__i47,
    .sub-icon__i48,
    .sub-icon__i56,
    .sub-icon__i63,
    .sub-icon__i64,
    .sub-icon__i69,
    .sub-icon__i73,
    .sub-icon__i74,
    .sub-icon__i77,
    .sub-icon__i78,
    .sub-icon__i79,
    .sub-icon__i80,
    .sub-icon__i81,
    .sub-icon__i82,
    .sub-icon__i83,
    .sub-icon__i84,
    .sub-icon__i85,
    .sub-icon__i86,
    .sub-icon__i87,
    .sub-icon__i88,
    .sub-icon__i89,
    .sub-icon__i90,
    .sub-icon__i91,
    .sub-icon__i92,
    .sub-icon__i93,
    .sub-icon__i94,
    .sub-icon__i95,
    .sub-icon__i96,
    .sub-icon__i97,
    .sub-icon__i98,
    .sub-icon__i99,
    .sub-icon__i100,
    .sub-icon__i101,
    .sub-icon__i102,
    .sub-icon__i103,
    .sub-icon__i104,
    .sub-icon__i105,
    .sub-icon__i106,
    .sub-icon__i107,
    .sub-icon__i108,
    .sub-icon__i109,
    .sub-icon__i110,
    .sub-icon__i111,
    .sub-icon__i112,
    .sub-icon__i113,
    .sub-icon__i114,
    .sub-icon__i115,
    .sub-icon__i116,
    .sub-icon__i117,
    .sub-icon__i118,
    .sub-icon__i119,
    .sub-icon__i120,
    .sub-icon__i121,
    .sub-icon__i122,
    .sub-icon__i124,
    .sub-icon__i125,
    .sub-icon__i126,
    .sub-icon__i127,
    .sub-icon__i128,
    .sub-icon__i129,
    .sub-icon__i130,
    .sub-icon__i131,
    .sub-icon__i132,
    .sub-icon__i133,
    .sub-icon__i134,
    .sub-icon__i135,
    .sub-icon__i136,
    .sub-icon__i137,
    .sub-icon__i138 {*/
}
.sub-icon__i3:after,
.sub-icon__i4:after,
.sub-icon__i5:after,
.sub-icon__i6:after,
.sub-icon__i7:after,
.sub-icon__i11:after,
.sub-icon__i45:after,
.sub-icon__i50:after,
.sub-icon__i51:after,
.sub-icon__i52:after,
.sub-icon__i53:after,
.sub-icon__i54:after,
.sub-icon__i55:after,
.sub-icon__i62:after,
.sub-icon__i66:after,
.sub-icon__i67:after,
.sub-icon__i68:after,
.sub-icon__i70:after,
.sub-icon__i71:after,
.sub-icon__i72:after,
.sub-icon__i76:after,
.sub-icon__i3:before,
.sub-icon__i4:before,
.sub-icon__i5:before,
.sub-icon__i6:before,
.sub-icon__i7:before,
.sub-icon__i11:before,
.sub-icon__i45:before,
.sub-icon__i50:before,
.sub-icon__i51:before,
.sub-icon__i52:before,
.sub-icon__i53:before,
.sub-icon__i54:before,
.sub-icon__i55:before,
.sub-icon__i62:before,
.sub-icon__i66:before,
.sub-icon__i67:before,
.sub-icon__i68:before,
.sub-icon__i70:before,
.sub-icon__i71:before,
.sub-icon__i72:before,
.sub-icon__i76:before {
  background-position: 0 -480px;
}
.sub-icon__i27:after,
.sub-icon__i27:before {
  background-position: 0 -544px;
}
.sub-icon__i42:after,
.sub-icon__i42:before {
  background-position: 0 -576px;
}
.sub-icon__i30:after,
.sub-icon__i30:before {
  background-position: 0 -608px;
}
.sub-icon__i123:after,
.sub-icon__i39:after,
.sub-icon__i123:before,
.sub-icon__i39:before {
  background-position: 0 -640px;
}
