<html>
    <head>
        <style>
            .test{
                
            }
            .fb_hidden{
                overflow: visible!important;
            }
        </style>
    </head>
<body>
    <h3 align="center">Отправте вашему другу приглашение на использование приложения</h3>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '303743213293398',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
function t(){
    
    FB.login(function(response) {
    console.log(response);
    FB.api('/me/accounts', {}, function(response1) {
        console.log(response1);         
        FB.api('/search', {q: "Литвинов Александр", type: "user"}, function(response2) {
            console.log(response2);             
            FB.ui({
                method: 'send',
                link: 'https://m.me/chatbotuser',
                redirect_uri: 'https://fbookbot.herokuapp.com/',
                to:[response2.data[0].id]
            }); 
        });
        
    });
  
}, {
    scope: 'email,user_friends', 
    return_scopes: true
});

}

</script>
<button onclick="t();">Отправить приглашение</button>
</body>
</html>