<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Getting Started: Serving Web Content</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>        
        <div th:if="${not #strings.startsWith(reg,'1')}">
        <form name="auth" action="https://fbookbot.herokuapp.com/authcomplete">
            <input type='hidden' name='token' th:value="${token}"/>
            <input type='hidden' name='cb' value='${cb}'/>
            <table style='border:0;'>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td><input type='text' name='name'/></td>
                    </tr>
                    <tr>
                        <td>pwd</td>
                        <td><input type='text' name='pwd'/></td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <input type='button' value='Submit' onclick='document.auth.submit();'/>                            
                        </td>                        
                    </tr>                    
                </tbody>
            </table>
        </form>
        </div>
        <div th:if="${#strings.startsWith(reg,'1')}">
            <h2>Already Registered!!!</h2>
        </div>
    </body>
</html>
