<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting OK</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2>ok</h2>
        <h2 th:text="${token}"></h2>
        <h2 th:text="${ac}"></h2>
        <input type="button" value="Close" onclick="window.close();">
        <a th:href="|https://www.facebook.com/messenger_platform/account_linking/?account_linking_token=${token}&amp;authorization_code=${ac}|">continue</a>        
    </body>
</html>
