<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/bootstrap.css" />
        <link rel="stylesheet" href="/app.css" />
        <style>
            .template-single::after {
                background-image: url("/sub-icons.png") !important;
                background-repeat: no-repeat;
                content: "";
                height: 30px;
                position: absolute;
                right: 5px;
                top: 12px;
                width: 39px;
            }
            body { 	      
              -webkit-print-color-adjust: exact;                
            }
        </style>
    </head>
    <body style="background-color: white;" class="mypayments">
        
                <div class="row" style="margin-left: 20px; width:400px; ">
                    <div class="templates-container col-sm-4 col-xs-12 template template-single sub-icon__default sub-icon__i{{subicon}}" style="width:100%;  border-radius: 4px;   ">
                        <h3 class="template-title ng-binding" style="padding-right: 50px; margin-top:11px; font-weight: bold;">&nbsp;</h3>
                        <div class="template-body">
                            <div style="margin-bottom: 5px;">
                                <div class="org-name org-name-lines org-name-lines--4 ng-binding org-name-lines--3">&nbsp;</div>
                            </div>
                        </div>
                        <div style="padding-top:50px;">
                            <div style="padding-bottom: 5px;">
                                <font style="font-size: 13px;">&nbsp;</font>                                
                            </div>
                            <div style="padding-bottom: 5px;">
                                <font style="font-size: 13px;">&nbsp;</font>
                            </div>
                            <div style="padding-bottom: 5px;">&nbsp;<div>                            
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>