<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Welcome page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3 align="center">Wellcome image builder</h3>
        <p>
            Usage
        <ul>
            <li>create template in /template folder</li>
            <li>ask service </li>
        </ul>
    </p>
    <p>Service url - /service/getbase64</p>
    <p>Service return - application/json</p>    
    <p>Service parameters</p>
    <ul>
        <li>name - template name</li>
        <li>data - json strong will be passed to template</li>
        <li>height - height (int)</li>
        <li>width - width (int)</li>
        <li>quantity - must be (hi, mid, low)</li>        
    </ul>
    <p>Avaliable templates</p>
    <ul>
        <li>smallSingleTemplate</li>
        <li>midSingleTemplate</li>
    </ul>
</body>
</html>
